:root {
    /* Colors */

    /* Primary */

    --red: #ea5454;
    --cyan: #44d3d2;
    --orange: #fcae4a;
    --blue: #549ef2;

    /* Neutral */

    --very-dark-blue: #4d4f62;
    --grayish-dlue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --bg-color: #fafafa;
    --bx-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

html,
body,
h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

body {
    max-width: 1440px;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
}

.container {
    width: 1110px;
    height: 762px;
    margin-inline: auto;
    margin-block: 80px;
    /* background-color: var(--bg-color); */

}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 64px;
}

header hgroup {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

header h1 {
    color: #4d4f62;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.25px;
}

header h1:last-of-type {
    color: #4d4f62;
    font-weight: 600;
}

p {
    color: #4D4F62;
font-size: 15px;
font-weight: 400;
line-height: 25px; 
opacity: .5;
}
