:root {
    /* Colors */

    /* Primary */

    --red: #ea5454;
    --cyan: #44d3d2;
    --orange: #fcae4a;
    --blue: #549ef2;
    --top-stick: #549ef2;

    /* Neutral */

    --very-dark-blue: #4d4f62;
    --grayish-dlue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
    --bg-color: #fafafa;
    --bx-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

html,
body,
h1,
h2,
h3,
p,
article,
div {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
}

.container {
    max-width: 1110px;
    margin-inline: auto;
    margin-block: 80px;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-end: 64px;
}

header hgroup {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

header h1 {
    color: var(--very-dark-blue);
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.25px;
}

header h2 {
    color: var(--very-dark-blue);
    font-size: 36px;
    font-weight: 600;
    margin-block-end: 16px;
}

p {
    color: var(--very-dark-blue);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.104px;
    opacity: 0.5;
}

main {
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

section.two-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article {
    width: 350px;
    height: 250px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

article h3 {
    color: var(--very-dark-blue);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-block-end: 6px;
}

article p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.09px;
    margin-block-end: 40px;
}

article div {
    width: 64px;
    height: 64px;
    align-self: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
}

article.supervisor div.image {
    background-image: url(../images/icon-supervisor.svg);
}

article.team-builder div.image {
    background-image: url(../images/icon-team-builder.svg);
}
article.karma div.image {
    background-image: url(../images/icon-karma.svg);
}
article.calculator div.image {
    background-image: url(../images/icon-calculator.svg);
}

div.stick {
    width: 100%;
    height: 8px;
    border-radius: 8px 8px 0 0;
    background: linear-gradient(to bottom, var(--top-stick) 50%, #fff 50%);
    position: absolute;
    left: 0;
    top: 0;
}

.supervisor div.stick {
    --top-stick: var(--cyan);
}
.team-builder {
    --top-stick: var(--red);
}
.karma {
    --top-stick: var(--orange);
}
.calculator {
    --top-stick: var(--blue);
}
